.mini-cart {
  position: absolute !important;
  margin-top: 10px;
  right: 10px;
  width: 400px !important;
  box-shadow: 1px 1px 4px -1px #c7c7c7;
  padding: 1rem;
  z-index: 9999;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}