.card {
  max-width: 200px;
  height: 400px;
  border: 0px !important;
}

.card-body {
  padding: 1.25rem 0rem !important;
}

.card-title {
  text-align: left;
  font-size: 14px;
}

.card-subtitle {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}