.App {
    text-align: left;
}

button.link {
    border: none;
    background-color: transparent;
    color: #212529;
}

button.link:hover {
    border: none;
    background-color: transparent;
    color: #212529;
}

button.link:focus {
    box-shadow: none;
}

button.link:active {
    background-color: transparent;
    color: #212529;
}